{% extends "layoutOff.html" %}

{% block title %}
    Password Configuration
{% endblock %}

{% block main %}


<h1 class="mx-auto" id="contact_brillo" style="text-align: center; margin-top: 2rem;">Change Your Password!</h1>
<form action="/changePassword" method="post">
    <div class="container_forms">
        <div id="color_label2" class="form-floating mb-3">
            <input style="background-color: rgba(255, 255, 255, 0.219);" type="password" class="form-control" name="password" id="floatingPassword" placeholder="password" minlength="8">
            <label  for="floatingPassword">Password</label>
        </div>
        <div id="color_label2" class="form-floating">
            <input style="background-color: rgba(255, 255, 255, 0.219);" type="password" class="form-control" name="password confirmation" id="floatingPassword" placeholder="password confirmation" minlength="8" required="true">
            <label  for="floatingPassword">New Passsword</label>
        </div>

        <button type="submit" id="contact_brillo1" class="info_contact_me" style="margin-top: 2rem;">
            Update Passsword
        </button>
    </div>
</form>

    <div style="text-align: center;"> 
        <a class="info_contact_me" href="account">Go Back</a>
    </div>

{% endblock %}


